@use "../variables" as *;
@use "../mixins" as *;

.tooltip {
    display: none;
    background-color: $color-info;
    color: $color-body;
    font-size: 0.82rem;
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid $color-secondary;
    width: 100%;
    margin-top: 0.5rem;

    &.is-visible {
        display: block;
    }
}
